# Include the README
include *.md

# Include the license file
include LICENSE.txt
include requirements.txt
include test-requirements.txt

# Include the data files
recursive-include data *

exclude data/waqi_token.txt
